trigger:
- master
name: $(Date:yyyyMMdd)$(Rev:.r)
stages:
- stage: Build
  jobs:
  - job: "Build"
    steps:
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          # Write your commands here
          echo 'Hello world '
          echo $(build.sourceBranchName)

- stage: Test
  jobs:
  - job: 'RegisterArtifactPackage'
    pool: server
    steps:
    - task: InvokeRESTAPI@1
      inputs:
        connectionType: 'connectedServiceName'
        serviceConnection: 'PPedduriGenericConn'
        method: 'POST'
        body: |
          {
            "artifacts": [
              {
                "name": "DemoArtifact1",
                "version": "1.$(build.buildId)",
                "semanticVersion": "1.$(build.buildId).0",
                "repositoryName": "DemoArtifactRepo1"
              },
              {
                "name": "DemoArtifact2",
                "version": "1.$(build.buildId)",
                "semanticVersion": "1.$(build.buildId).0",
                "repositoryName": "DemoArtifactRepo1"
              }
            ],
          "projectName": "PedduriProj5",  
          "pipelineName": "$(system.teamProject)/$(build.definitionName)",
          "taskExecutionNumber": "$(build.buildId)",
          "stageName": "$(system.jobDisplayName)",
          "branchName": "$(build.sourceBranchName)"
          }
        urlSuffix: '/artifact/registration'
        waitForCompletion: 'false'
  - job: 'PushArtifacts'
    pool: server
    dependsOn: 'RegisterArtifactPackage'
    steps:
    - task: InvokeRESTAPI@1
      inputs:
        connectionType: 'connectedServiceName'
        serviceConnection: 'PPedduriGenericConn'
        method: 'POST'
        body: |
          {
            "artifacts": [
              {
                "name": "DemoArtifactRepo1",
                "repositoryName": "DemoArtifactRepo1",
                "version": "1.$(build.buildId)",
                "pipelineName": "$(system.teamProject)/$(build.definitionName)",
                "taskExecutionNumber": "$(build.buildId)",
                "stageName": "$(system.jobDisplayName)",
                "branchName": "$(build.sourceBranchName)"
              }
            ],
            "pipelineName": "$(system.teamProject)/$(build.definitionName)",
            "taskExecutionNumber": "$(build.buildId)",
            "stageName": "$(system.jobDisplayName)",
            "branchName": "$(build.sourceBranchName)"
          }
        urlSuffix: '/package/registration'
        waitForCompletion: 'false'
  
- stage: Deploy
  jobs:
  - job: 'Deploy'
    pool: server
    steps:
    - task: InvokeRESTAPI@1
      inputs:
        connectionType: 'connectedServiceName'
        serviceConnection: 'PPedduriGenericConn'
        method: 'POST'
        body: |
          {
              "buildNumber": "$(build.buildId)",
              "isMultiBranch": "true",
              "branchName": "$(build.sourceBranchName)"
          }
        urlSuffix: '/orchestration/changeControl?toolId=617c9f051b465010c4ab98e8bc4bcb29'
        waitForCompletion: 'true'
  